/* CONFIG DESKTOP + 800PX */


@media (min-width: 800px) {


    /* DISPLAY NONE */
    header {
        background: rgb(255, 255, 255);
        background: linear-gradient(118deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 18%, rgba(251, 250, 249, 1) 27%, rgba(251, 250, 249, 1) 30%, rgba(251, 250, 249, 1) 34%, rgba(249, 242, 236, 1) 37%, rgba(241, 229, 217, 1) 45%, rgba(245, 227, 212, 1) 48%, rgba(252, 176, 69, 1) 62%, rgba(237, 128, 101, 1) 76%, rgba(243, 96, 59, 1) 98%);
    }

    .hambur {
        display: none;
    }

    .copyright {
        display: none;
    }

    .mapDirec2 {
        display: none;
    }


    /* GENERAL */
    header {

        padding: .8rem 8%;
        display: flex;
        justify-content: space-between;

        display: flex;
        align-items: center;
    }

    main {
        background-color: rgb(251, 250, 249);
    }

    footer {
        display: flex;
        justify-content: space-evenly;
        padding: 0px 0px 15px;
        background: var(--footer);
        /* height: 20rem; */

    }


    /* HEADER */
    .marca,
    img {
        font-stretch: 200px;
    }
    .logotype {
        height: 11vh;
        width: 15vw;
    }

    .desktop-menu a {
        border-radius: 0.8rem;
        border: #e45e5e 0.1px solid;
        position: relative;
        display: inline-block;
        padding: 0.7rem 1rem;
        color: var(--text);
        font-size: 0.8rem;
        overflow: hidden;
        box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.7);

    }

    .desktop-menu {
        padding: 2rem 0rem;
        gap: 0.8rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .desktop-menu .navcolor2 {
        background: rgb(245, 227, 212);
        background: linear-gradient(90deg, rgba(245, 227, 212, 1) 0%, rgba(252, 176, 69, 1) 46%);
    }

    .desktop-menu .navcolor3 {
        background: rgb(252, 176, 69);
        background: linear-gradient(90deg, rgba(252, 176, 69, 1) 0%, rgba(237, 128, 101, 1) 46%);
    }

    .desktop-menu .navcolor4 {
        background: rgb(237, 128, 101);
        background: linear-gradient(90deg, rgba(237, 128, 101, 1) 0%, rgba(243, 96, 59, 1) 63%);
    }

    .desktop-menu .navcolor5 {
        background: rgba(243, 96, 59, 1)
    }


    .desktop-menu a:hover {
        color: white;
        box-shadow: 0px 4px 8px rgba(175, 76, 52, 0.5);
    }

    .btton {
        padding: 13px 15px;
    }

    /* FIN HEADER */


    /* MAIN */
    /* Bring everyone... + grafico */
    .graf img {
        margin: 0 3rem 0 0;
    }

    .title {
        padding: 1.25rem;
        margin: 20px 50px 0px 50px;
        text-align: left;
        font-size: 4rem;

    }

    .dowloadNotas {
        padding: .7rem 0rem;
        display: inline-block;
        width: 18rem;
        font-size: medium;
        position: relative;
        /* left: 1rem; */
        top: 3rem;
    }
    

    .box h4 {
        padding: 0rem 6rem 1rem 2.8rem;
        font-size: larger;
        text-align: center;
    }

    section {
        display: flex;
        padding: 0px 60px;
        margin: 30px 0px;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        justify-content: space-between;
    }

    .column1 {
        margin: 3rem 0rem;
        padding: 40px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    .cards-info {
        /* background-color: #f4f4f5; */
        width: 30%;
        border-radius: 1rem;
        box-shadow: 0px 4px 8px rgba(129, 126, 125, 0.5);

    }
    .picture {
        margin: 1.31rem;
        height: 150px;
        width: 150px;
        border-radius: 50px;
        box-shadow: 0px 4px 8px rgba(129, 126, 125, 0.5);
    }

    .name {
        margin: 1.31rem;
        font-size: 1rem;
    }

    .parrafo2 {
        margin: 1.31rem;
    }

    .title2 {
        font-size: 2.451rem;
        margin: 3.75rem;
    }

    .sub-title3 {
        color: #FFFFFF;
        font-size: 40px;
    }

    .parrafoo {
        padding: 0rem 4rem 1rem 4rem;
        font-size: larger;
        text-align: left;
    }

    .bt1 {
        margin: 0rem 0rem 2rem;
        padding: 0.8rem 1.4rem;
        font-size: larger;
    }


    /* "whats different..." */
    .beta {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .box-what {
        margin: 0rem 1.25rem;
        padding: 0rem 2.5rem 0rem 1.25rem;
        text-align: left;
    }

    .sub-title {
        margin: 0px 20px 36px 0px;
    }



    /* Articulos... */
    .box2 {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .config-botton {
        padding: 0.7rem 1.7rem;
    }

    .align-p p {
        text-align: left;
        margin: 0rem 2.5rem 2rem 5.2rem;
        font-size: large;
    }


    /* COMENTARIOS USUARIOS */
    .comentarios {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 0.5rem;
    }

    div.circulos {
        display: none;
    }

    .bt2 {
        display: block;
        padding: 13px 18px;
        margin: 20px auto;
    }


    /* simplify how your team... */
    .box4 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .sub-title3 {
        width: 50vw;
        text-align: left;
        margin: 2rem 8rem 2rem 0rem;
    }

    button.bt3 {
        box-shadow: 0px 4px 8px rgba(122, 36, 14, 0.5);
        position: relative;
        left: 3rem;

    }
    .phone800{
        padding: 0rem .5rem;
        font-size: 2rem;
        font-weight: 900;
    }
    /* FIN MAIN */


    /* FOOTER */



    .copyright2 {
        color: #374354;


    }

    .cop {
        position: absolute;
        top: 291.8rem;
        width: 40%;
        padding: .5rem;


    }
    .listas a {
        color: rgb(206, 200, 200);
        padding: 0px 30px;
        line-height: 2;
        font-size: 15px;
    }
    /* formulario correo*/
    .selector {
        width: 30rem;

        order: 3;
        justify-content: center;
        gap: 3rem;
    }


    /* listas de shortcuts de informacion */
    .listas {

        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 30px;
        order: 2;
        text-align: left;
    }

    .listas1 {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    /* logo */
    .column-footer {

        order: 1;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        /* gap: 3rem; */
    }

    .logo-f img {
        width: 12vw;
    }




    .grid-container {
        display: grid;
        grid-template-rows: 3rem;
        grid-template-columns: 18rem 18rem 20rem;
        grid-gap: 6px;
    }

    .mapDirec iframe {
        box-shadow: 0px 4px 8px rgba(38, 37, 37, 0.7);

    }

    /* SLIDERR */
    .miSlider img {
        width: 100%;
        max-height: 100vh;
        height: inherit;
        object-fit: cover;
        vertical-align: top;
        transition: 2s;
    }

    .mensaje-foot{
        display: none;
    }
    .form-name {
        position: relative;
        width: 35%;
    }
    
    .form-email {
        position: relative;
        width: 65%;
        margin-left: 0.2rem;
    }
    
    .form-message {
        position: relative;
        width: 100%;
    }
    .verificar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
  
    /* FIN FOOTER */
}