.form-start {
    padding: 0.25rem 0rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-text {
    padding: 0.25rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

input,
textarea {
    border-radius: 0.4rem;
    border-color: black;
    background-color: var(--parrafos);
    color: var(--fontParrafos);
    padding: 0.3rem;
}

::placeholder {
    opacity: 0.7;
    color: var(--titulos);
    font-family: var(--fontParrafos);
    font-size: 1rem;
}



.flag {
    position: relative;
    bottom: 1px;
    padding: 0px 12px;
    background-color: #0e0d0d;    
}

.flag-scale {
    height: 3vh;
    width: 1.5vw;
}


.form-send {
    display: flex;
    justify-content: right;
    padding: .5rem .5rem .5rem 0rem;
}

.form-send button {    
    padding: .3rem .8rem;
    box-shadow: 3px 4px 6px -1px rgba(0, 0, 0, 1);
}

.form-send button:hover {
    box-shadow: inset 2px 5px 6px -1px rgb(70, 16, 7);
}

div.errores {
    padding: 0rem 1rem;
}

#errorPush {
    display: flex;
    align-items: center;
    position: relative;
    right: 1rem;
    padding: 0.2rem;
    font-size: 22px;
    color: red;
}

#errorPush2 {
    display: flex;
    align-items: center;
    position: relative;
    right: 1rem;
    padding: 0.2rem;
    font-size: 22px;
    color: rgb(6, 148, 6);
}

.errores-push {
    position: relative;
    font-family: var(--fontTitulos);
    font-size: 0.6em;
    color: var(--paragraph);
    padding: 0rem 0.6rem;
}

.errores i {
    margin: 0.3rem 0rem;
    background-color: rgb(27, 25, 37);
    border-radius: 0.4rem;
}