@import 'mobile.css';
@import 'desktop.css';
@import 'animation.css';
@import 'form.css';
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Playfair+Display:ital,wght@1,600&display=swap');


/* ROOT */
:root {
    --botones: #F3603B;
    --titulos: #232851;
    --parrafos: #B3B2B7;
    --footer: #1E1E26;
    --fondo-gris: #eeebe8;
}

/* MARGEN INICIAL + CONFIG. */
* {
    color: black;
    font-family: "Be Vietnam Pro";
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}



/* CONFIGURACIONES GENERALES */
body{background-color: rgb(251, 250, 249)}


h3,
h4 {
    color: var(--titulos);
}

p {
    color: var(--parrafos);
}

button {
    cursor: pointer;
    background-color: var(--botones);
    border-radius: 50px;
    color: #FFFFFF;
    border: var(--botones);
    box-shadow: 1px 6px 10px rgba(29, 28, 28, 1);   
}

ul {
    list-style-type: none;
}

/* section {
    display: flex;
    padding: 0px 60px;
    margin: 30px 0px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
} */






/* HEADER*/





/* FIN HEADER */


/* MAIN */
/* Bring everyone... + grafico */


.notas {
    color: azure;
}

.wppContact {
    position: fixed;
    font-size: 4rem;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    -webkit-text-stroke: 1.5px rgb(12, 12, 12);
}

.wppContact i {
    color: #25D366;

}

.graf {
    display: flex;
    flex-direction: column;
}
.dowloadNotas:hover{
    background-color: #f3603b;   
    box-shadow: inset 3px 5px 9px -1px rgb(70, 16, 7);
    
}

article .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word;
    justify-content: space-between;
    padding: 10px;
}



/* .bt1 {
    padding: 13px 18px;
} */

/* "whats different..." */
.sub-title {
    font-size: 2.25rem;
}

/* Articulos... */
.sub-title2 {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.fa-check-double {
    padding: 0rem 1rem;
}

/* COMENTARIOS USUARIOS */







/* simplify how your team... */
.box4 {
    height: 14rem;
    background: var(--botones);
    margin: 0px;
}



.bt3 {
    color: var(--botones);
    padding: 15px 25px;
    background-color: #FFFFFF;
    box-shadow: 1px 6px 10px rgba(29, 28, 28, 1);
}
.bt3 i{
    padding: 0rem 1rem 0rem 0rem;

}
.go-acor{
    padding: 0rem .5rem;
    font-size: 2rem;
    font-weight: 700;
}


.bt3:hover{
background-color: #f6f6f8;
box-shadow: inset 3px 5px 9px -1px rgb(70, 16, 7);
}

.bt3:hover .fa-share-from-square{
    color: rgb(75, 75, 230);
}
.bt3:hover .fa-phone-volume{
    color: #25D366;
}

.mapDirec {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* FIN MAIN */


/* FOOTER */

form h3{
color: #eeebe8;
}

/* Mensaje abierto Cerrado */
#status.open {
    color: green;
}

#status.closed {
    color: red;
}
.grid-container2 i{
    font-size: 1.5rem;
}

/* FIN FOOTER */