@import 'mobile.css';
@import 'desktop.css';
@import 'animation.css';
@import 'form.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Scada:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Scada:ital@0;1&display=swap');

:root {
    --botones: #c2236e;
    --cintas: #c2236e;
    --titulos: #232851;
    --parrafos: #B3B2B7;
    --footerBack: #1E1E26;
    --fondoBack: #eeebe8;
    --fontTitulos: 'Montserrat', sans-serif;
    --fontParrafos: 'Scada', sans-serif;
}

* {
    color: black;
    font-family: "Be Vietnam Pro";
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(251, 250, 249)
}

p {
    color: var(--parrafos);
    font-family: var(--fontParrafos);
    font-size: large;
    font-style: italic;
}

button {
    cursor: pointer;
    background-color: var(--botones);
    border-radius: 50px;
    border: var(--titulos);
    box-shadow: 1px 6px 10px rgba(29, 28, 28, 1);
    font-size: 1.1rem;
    padding: 0.2rem 0.5rem;
    color: var(--fondoBack);
    font-family: var(--fontTitulos);
    font-weight: 500;
}

li a {
    font-family: var(--fontTitulos);
    font-weight: 700;
}

ul {
    list-style-type: none;
}

footer {
    background-color: var(--footerBack);
}

i {
    color: var(--titulos);
}

h3 {
    font-family: var(--fontParrafos);
    color: var(--titulos);
}

h5 {
    font-family: var(--fontParrafos);
    color: var(--parrafos);
    font-size: larger;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    text-align: center;
}

form h3 {
    color: #eeebe8;
}

h2,
h4,
.bt3 {
    font-family: var(--fontTitulos);
    color: var(--titulos);
}

article .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word;
    justify-content: space-between;
    padding: 10px;
}

/* MAIN */
.dowloadNotas a{
    font-family: var(--fontTitulos);
    color: var(--fondoBack);
    padding: .7rem 0rem;
    display: inline-block;
    width: 18rem;
    font-size: medium;
    font-weight: 600;
    position: relative;
}
.dowloadNotas:hover {
    background-color: var(--cintas);
    box-shadow: inset 3px 5px 9px -1px rgb(70, 16, 7);
}

.fa-check-double {
    padding: 0rem 1rem;
}

.box4 {
    background-color: var(--cintas);
}

.sub-title {
    font-size: 2.25rem;
}

.linea-separacion {
    height: 1.7px;
    width: 100%;
    background: linear-gradient(to right, rgb(250, 249, 247) 0%, rgb(235, 233, 230) 20%, rgb(209, 204, 199) 50%, rgb(229, 226, 222) 80%, rgb(246, 245, 243) 100%);
}

.saltoSeparado {
    padding: 2rem 0rem 0rem;
}

.sub-title2 {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.bt3:hover {
    background-color: #f6f6f8;
    box-shadow: inset 3px 5px 9px -1px rgb(70, 16, 7);
}

.bt3:hover .fa-share-from-square {
    color: rgb(75, 75, 230);
}

.bt3:hover .fa-phone-volume {
    color: #25D366;
}

.go-acor,
.phone800 {
    font-family: var(--fontTitulos);
    color: var(--titulos);
}

.mapDirec {
    display: flex;
    align-items: center;
    justify-content: center;
}

#status,
#hours {
    font-family: var(--fontTitulos);
    font-weight: 700;
}

#status.open {
    color: green;
}

#status.closed {
    color: red;
}

/* GRID */
.grid-container2 i {
    font-size: 1.5rem;
}

.order-Grid {
    display: flex;
    align-items: center;
}

.grid-container h3 {
    color: #fff;
}

.grid-item1 {
    background: #3D9FE0;
    text-align: center;
    align-self: center;
    border: rgb(255, 255, 255) 2px solid;
    padding: 0.4rem;
    border-radius: 5px;
    box-shadow: -7px 6px 22px -8px rgba(0, 0, 0, 0.5);
}

.grid-item {
    background: rgb(215, 210, 210);
    text-align: center;
    align-self: center;
    border: rgb(255, 255, 255) 1px solid;
    padding: 0.4rem;
    border-radius: 5px;
    box-shadow: -7px 6px 22px -8px rgba(0, 0, 0, 0.5);
}

.rowone {
    background: rgb(244, 240, 240);
}

.grid-container2 {
    display: grid;
    grid-template-rows: 2.5rem 2.5rem;
    grid-gap: 8px;
}

.grid-item2 {
    background: rgb(244, 240, 240);
    text-align: center;
    align-self: center;
    border: rgb(253, 253, 253) 2px solid;
    box-shadow: -7px 6px 22px -8px rgba(0, 0, 0, 0.5);
}

.grid-item3 {
    background: rgb(244, 240, 240);
    text-align: left;
    align-self: center;
    border: rgb(255, 255, 255) 1px solid;
    padding: 0.6rem;
    border-radius: 5px;
    box-shadow: -7px 6px 22px -8px rgba(0, 0, 0, 0.5);
}

.grid-ubi {
    display: flex;
    align-items: center;
}