@import 'mobile.css';
@import 'desktop.css';
@import 'animation.css';
@import 'form.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Scada:ital@1&display=swap');



/* ROOT */
html {
    scroll-behavior: smooth;
    
}

:root {
    --botones: #F3603B;
    --cintas: #F3603B;
    --titulos: #232851;
    --parrafos: #B3B2B7;
    --footerBack: #1E1E26;
    --fondoBack: #eeebe8;
    --fontTitulos: 'Montserrat', sans-serif;
    --fontParrafos: 'Scada', sans-serif;
    
}

/* MARGEN INICIAL + CONFIG. */
* {
    color: black;
    font-family: "Be Vietnam Pro";
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}



/* CONFIGURACIONES GENERALES */

body {
    background-color: rgb(251, 250, 249)
}


p {
    color: var(--parrafos);
    font-family: var(--fontParrafos);
    font-size: large;
}

button {
    cursor: pointer;
    background-color: var(--botones);
    border-radius: 50px;    
    border: var(--titulos);
    box-shadow: 1px 6px 10px rgba(29, 28, 28, 1);
    font-size: 1.1rem;    
    padding: 0.2rem 0.5rem;
    
}
.go-acor, .phone800{
    font-family: var(--fontTitulos);
    color: var(--titulos);
}
.button{
    color: var(--fondoBack);
    font-family: var(--fontTitulos);
    font-weight: 500;
}
li a{
    font-family: var(--fontTitulos);
    font-weight: 700;
}

ul {
    list-style-type: none;
}
footer{
    background-color: var(--footerBack);
}
h2,h3,h4,.bt3{
    font-family: var(--fontTitulos);
    color: var(--titulos);
}
#status, #hours{
    font-family: var(--fontTitulos);
    font-weight: 700;
}

.notas {
    color: azure;
}

.wppContact {
    position: fixed;
    font-size: 4rem;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    -webkit-text-stroke: 1.5px rgb(12, 12, 12);
}
.box4{
    background-color: var(--cintas);
}
.wppContact i {
    color: #25D366;
}

.graf {
    display: flex;
    flex-direction: column;
}

.dowloadNotas:hover {
    background-color: #f3603b;
    box-shadow: inset 3px 5px 9px -1px rgb(70, 16, 7);
}

article .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word;
    justify-content: space-between;
    padding: 10px;
}

.sub-title {
    font-size: 2.25rem;
}


.sub-title2 {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.fa-check-double {
    padding: 0rem 1rem;
}

i{
    color: var(--titulos);
}
.bt3:hover {
    background-color: #f6f6f8;
    box-shadow: inset 3px 5px 9px -1px rgb(70, 16, 7);
}

.bt3:hover .fa-share-from-square {
    color: rgb(75, 75, 230);
}

.bt3:hover .fa-phone-volume {
    color: #25D366;
}

.mapDirec {
    display: flex;
    align-items: center;
    justify-content: center;
}


form h3 {
    color: #eeebe8;
}


#status.open {
    color: green;
}

#status.closed {
    color: red;
}

.grid-container2 i {
    font-size: 1.5rem;
}


.linea-separacion {
    height: 1.7px;
    width: 100%;
    background: linear-gradient(to right, rgb(250, 249, 247) 0%, rgb(235, 233, 230) 20%, rgb(209, 204, 199) 50%, rgb(229, 226, 222) 80%, rgb(246, 245, 243) 100%);
  }
  .saltoSeparado{
    padding: 2rem 0rem 0rem;
  }
      

      
